<!DOCTYPE html> 
<html> 
<head> 
    <title>Stop Watch</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="public/styles/main.css">
        <link rel="shortcut icon" href="favicon.io">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <meta name = "viewport" cont  ent="width=device-width, initial-scale=1">
</head> 
<body>
    <div>
        <p align="center">Welcome to the ClickTime StopWatch!</p>
        <table>
        <tr>
            <th>TEST</th>
            <th>TEST2</th>
            <th>TEST3</th>
        </tr>
        </table>
    </div>
    <div align="center" style = "margin: auto"> 
        <button type="button" class="btn btn-secondary">Start</button>
        <button type="button" class="btn btn-secondary">Stop</button>
        <button type="button" class="btn btn-secondary">Clear</button>
    </div>
</body> 
</html>   
