html, body {
    background-color: #66b3ff;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    overflow: auto;
    text-align: center;
    font: Courier
}
* {box-sizing: border-box}

h1{
    font-family: Courier, sans-serif;
    font-size: 55px;
    max-width: 75%;
    text-align: center;
}

#display-area{
    font-size: 100px;
}

table {
    max-width: 65%;
    margin: auto;
    text-align: center;
}

table, th, td{
    border: 1px solid black;
    border-width: thick;
}

.btn-secondary.custom-btn {
	background-color: #000;
	border-color: #000;
}