html, body {
    background-color: #a2a8a3;
    height: 100%;
    font-family: Courier;
    font-size:30px;
    color: white;
    overflow: auto;
    text-align: center;
}
* {box-sizing: border-box}

h1{
    font-family: Courier;
    font-size: 45px;
    color: bisque;
    overflow: auto;
}

button {
    background-color: beige;
    border-color: solid black;
    border-width: thick;
}

label{
    font-size: 30px;
}

#timer{
    font-size: 26px;
}

table {
    max-width: 65%;
    margin: auto;
    text-align: center;
}

table, th, td{
    border: 1px solid black;
    border-width: medium;
}

.btn-secondary.custom-btn {
	background-color: #000;
	border-color: #000;
}